body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    height: 700px;
    width: auto;
    border: solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result{
    border: solid black;
    width: 30vw;
    height: 20vh;
    margin: 10px 10px 0px 10px;

}

.container{
    display: flex;
    height: 40vh;
    width: 30vw;
    margin: 10px;


}
.numberGrid{
    flex: 1;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;

    
}



.functionsGrid{
    flex:1;
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;

};

.grid-item, .operator-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
};
